@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spinFast {
  animation: rotate 8s linear infinite;
}

.spinSlow {
  animation: rotate 15s linear infinite;
}
